{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <h2>All Teachers Profile</h2><hr>
        {% for s in teachers %}
        <div class="col-6 col-md-4 col-lg-3">       
          <div class="card mx-1 my-2 shadow" >   
            <a href="{% url 'teacher-detail' s.pk %}"><img src="{{ s.image.url }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <a href="{% url 'teacher-update' s.pk %}">update</a>
                <a href="{% url 'teacher-delete' s.pk %}">delete</a>
              <h5 class="card-title">{{ s.name  }}</h5>
              <p class="card-text">{{ s.designation }}</p>
            </div>
         </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}